body {font-size: 14px;line-height: 1.5em;}

a {
	color: #000;
}

a:visited{
	 color: #000;
}

a:hover {
	color: #ccc;
}

h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Raleway, sans-serif;
	font-size: 3em;
}