$textColor: #000;
$headerFont: Helvetica, sans-serif;

@import "reset";
@import "type";
@import "layout";

*{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

img {width:100%;}

h1 {color:$textColor;}
h2 {color:$textColor; font-family: $headerFont;}
ul {color:$textColor; text-decoration: underline;}

nav {
    margin-top: 10px;
    margin-bottom: 10px;
    ul {list-style: none;}
}

article {background-color: #cccccc;
		padding: 10px;

    ul {list-style: disc;}

}